{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <style>

        body {
          background-image: url("/static/img/2.jpg");
      }
      </style>
{% load i18n %}
{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn from-middle"value="Change my password" style="font-size: 1.0rem; letter-spacing: 0.5rem; padding: .5rem 1.0rem;">
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock %}
