{% extends 'base.html' %}

{% block content %}
    <style>

        body {
          background-image: url("/static/img/3.jpg");
      }
      </style>

{%if empty%}

<h1> {{empty_message}} </h1>
{%else%}

<div class='col-sm-8 col-sm-offset-2' >
<table class='table' style="color:white;">
	<thead>
		<th>item</th>
		<th>price</th>
	</thead>
	<tfoot>
		<tr>
			<td></td>
			<td> Total: {{ cart.total }}</td>
		</tr>
	</tfoot>
	{% for item in cart.products.all %}

	<tr>
		<td>{{ item }}</td>
		<td>{{ item.price }}</td><td><a href="{% url 'update_cart' item.id%} " >Remove</a></td>

	</tr>
{%endfor%}
</table>
</div>
<p><a href="http://127.0.0.1:8000/products " class="btn from-middle">Back to the Shop</a></p>
<br/>
<a href='{%url "orders:checkout"%}'>Checkout</a>
{%endif%}
{% endblock %}
